
.mainContent
{
    width: 100vw !important;
    height: 100vh !important;
    background-image: url("../stars.jpg");
    background-size: cover;
}
.homeContent
{
    margin-top: 50px !important;
    padding: 20px !important;
}