.container
{
    background-color: red;
    width: 100vw;
    height: 50vh;
    color: #fff;
}
.brandImage
{
    width: 50px;
    height: 30px;
}
.navLink
{
    text-decoration: none;
    color: #fff;
}
.navItems
{
    list-style-type: none;
    column-gap: 20px;
}

.forkButton
{
    background-color: #4B2C67;
    border: 1px solid #573C73;
    color: #fff;
    border-radius: 10px;
}